/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0; /* Reset body margin */
}

header {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.cat-section {
    flex: 1 0 calc(33.333% - 20px); /* Each section takes up to 33.333% of the available space with a margin */
    background-color: #dee2e6;
    margin-bottom: 20px;
    padding: 20px;
}

.form-section {
    flex: 1 0 100%; /* Form section takes full width */
    background-color: #ced4da;
    padding: 20px;
}

@media screen and (max-width: 960px) {
    main {
        flex-direction: column;
    }
    .cat-section, .form-section {
        flex: 1 0 100%; /* Each section takes full width on smaller screens */
    }
}
